<link rel="stylesheet" href="/stylesheets/files.css">
<link rel='stylesheet' href='/stylesheets/resetcss.css' />

<div class="img">
<img src="/images/{{name}}{{type}}">
</div>

 <p class="text"> Materia: {{name}}
  Profesor: {{teacher}}
  <br>
  </br>
  Año: {{level}}</p>
  <div class="main">
  <div class="files">
    
    </div>
</div>
