{{#each subjects}}
<div class="select">
<a class="linksubject" href="subject/{{name}}">
<div class="img">
<img src="/images/{{name}}{{type}}">
</div>

 <p class="text"> Materia: {{name}}
  Profesor: {{teacher}}
  <br>
  </br>
  Año: {{level}}</p>
  </a>
  </div>
{{/each}}
